.container-fluid {
    background-color: yellow;
}
.align-right {
    text-align: right;
}
.ctdn {
    padding-right: 10px;
}
.text-bold {
    font-size: larger;
    font-weight: bold;
}
.margin-top {
    margin-top: 20px;
}
.col {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    text-align: center;
    width: 25px;
    height: 30px;
}
.row-3 {
    margin-top: 25px;
}

.inside {
    background-color: blue;
}

.forGrid {
    visibility: hidden;
    margin-left: 10%;
    margin-right: 10%;
}
.center-align {
    text-align: center;
}

.margin-top1 {
    padding-top: 100px;
}

#container1 {
    height: 100%;
    background-image: url("../assets/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
a {
    background-color: white;
    border: 2px solid black;
    color: green;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 20px 30px;
    text-decoration: none !important;
    height: 50px;
    width: 200px;
    transition: width 1s, height 1s, padding 1s;
}
a:hover {
    background-color: red;
    width: 255px;
    height: 75px;
    padding: 15px 15px;
}
.margin-top {
    margin-top: 4%;
}
.text-center {
    text-align: center;
}
.bottom-margin {
    padding-bottom: 50px;
}

.large {
    font-size: 50px;
}
