body {
    margin: 0px 0px 0px 0px;
}

.container {
    height: 100%;
    background-image: url("./assets/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.text-center {
    text-align: center;
}
span {
    font-size: 50px;
}
a {
    text-decoration: none;
}
